################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MathHelper/v15/Server/sqlite3
/MathHelper/bin/Debug
/MathHelper/obj
/packages
/UnitTest.MathHelper/bin/Debug
/UnitTest.MathHelper/obj
